{{ template "header.html" . }}

<div class="container-fluid bg-dark p-2">
    <div class="row">
        <button class="navbar-toggler" style="background-color: #040404e0" type="button" data-toggle="collapse" data-target="#headerCollapsible" aria-controls="headerCollapsible" aria-expanded="false" aria-label="Toggle navigation">
            <img src="/app-images/logo-silver.png" style="width: fit-content; max-width: 120px">
        </button>
        &nbsp; &nbsp; &nbsp;
        <h5 class="text-light" style="margin-top: auto; margin-bottom: auto">Frequently Asked Questions</h5>
    </div>
</div>

<div class="accordion m-4 border border-secondary rounded" id="faqItemsAccordion">
{{ range .FaqItems }}
    {{ template "faq_item_template.html" . }}
{{ end }}
</div>

{{ template "footer.html" . }}
