<div class="container">

    <div class="row bg-dark rounded-top pt-2 pb-2">
        <div class="col-md-3"></div>

        <div class="col-md-6">

            <div class="d-flex justify-content-center">

                <div>
                    <form method="POST">
                        {{ if .ShowPrevDayButton }}
                        <input type="hidden" name="day-index" value="{{ .PrevDayIndex }}">
                        <input type="hidden" name="tab" value="dashboard">
                        <input type="image" src="/app-images/left-arrow-normal.png" alt="Previous Day">
                        {{ else }}
                        <img src="/app-images/left-arrow-disabled.png">
                        {{ end }}
                    </form>
                </div>

                <div class="w-100 m-2 bg-light text-center rounded ">
                    <small class="text-dark font-weight-bold text-uppercase">{{ .CurrentDayString }}</small>
                </div>

                <div>
                    <form method="POST">
                        {{ if .ShowNextDayButton }}
                        <input type="hidden" name="day-index" value="{{ .NextDayIndex }}">
                        <input type="hidden" name="tab" value="dashboard">
                        <input type="image" src="/app-images/right-arrow-normal.png" alt="Next Day">
                        {{ else }}
                        <img src="/app-images/right-arrow-disabled.png">
                        {{ end }}
                    </form>
                </div>

            </div>

        </div>

        <div class="col-md-3"></div>
    </div>

    {{ if .HasError }}

            <div class="jumbotron bg-light text-center text-danger font-weight-bold text-uppercase">
                {{ .ErrorString }}
            </div>

    {{ else }}

        <div class="row bg-primary pt-2">
            <div class="col-md-4">
                <small><span class="badge badge-dark text-light font-weight-bold text-uppercase p-1">Activity Timeline:</span></small>
            </div>
            <div class="container">
                {{ template "bar_graph_template.html" .DailyActivityBarGraph  }}
            </div>
        </div>

        <div class="row p-2">
            <div class="col-md-6">
                <small><span class="badge badge-dark text-light font-weight-bold text-uppercase p-1">Total ScreenTime: <bold class="text-warning">{{ .TotalScreenTimeHours }} hours {{ .TotalScreenTimeMinutes }} min</bold></span></small>
                <hr/>
                <small><span class="badge badge-dark text-light font-weight-bold text-uppercase p-1">ScreenTime Breakdown:</span></small>
                {{ template "pie_graph_template.html" .CategorySplitPieGraph }}
            </div>
            <div class="col-md-6 pt-2 pb-2 border border-dark rounded">
                    <small><span class="badge badge-dark text-light font-weight-bold text-uppercase p-1">Top Apps:</span></small>

                    <ul class="list-group pt-2">
                        {{ range .TopApps }}
                        <li class="list-group-item p-1 bg-light">
                            <div class="d-flex justify-content-between">
                                <small class="font-weight-bold">{{ .AppName }}</small>
                                <span class="badge badge-secondary badge-pill"><small>{{ .TimeToShow }}</small></span>
                            </div>
                        </li>
                        {{ end }}
                    </ul>
            </div>
        </div>

    {{ end }}
</div>
