<div class="container">


    <div class="row bg-primary border-info rounded-top pt-2">
        <div class="col-md-4">
            <h5 class="text-light font-weight-bold small text-uppercase"> Your day so far </h5>
        </div>
        <div class="container">
            {{ template "bar_graph_template.html" .DailyActivityBarGraph  }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            {{ template "pie_graph_template.html" .CategorySplitPieGraph }}
        </div>
        <div class="col-md-4">
                <span class="badge badge-dark text-light font-weight-bold text-uppercase p-1">Total ScreenTime: <bold class="text-success">4 hours 32 min</bold></span>
                <small><span class="badge badge-dark text-light font-weight-bold text-uppercase p-1">Start Time: <bold class="text-success">7 : 30 am</bold></span></small>
        </div>
    </div>
</div>
