{{ template "home_header_template.html" . }}

<style>
    .nav-tabs .nav-link:not(.active) {
        background-color: beige;
        border-color: gray !important;
        border-bottom-width: thin !important;
    }

    .active {
        background-color: rgba(204,204,206,0.91) !important;
        border-bottom-color: transparent !important;
    }
</style>

<div class="container">

    <br/>
    <br/>
    <br/>

    <div class="jumbotron">
    Profiling, For Humans
    </div>

</div>

{{ template "home_footer_template.html" . }}

