<div class="container">
    <div class="row bg-light rounded-top pt-2 pb-2">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="w-100 m-2 text-center rounded ">
                <small class="text-dark font-weight-bold text-uppercase">Match Rules</small>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row bg-info rounded-bottom pt-2 pb-2">
        <div class="col-md-4">
            <small><span class="badge badge-dark text-light font-weight-bold text-uppercase p-1">Rules:</span></small>
        </div>
        <br/>

        <div class="container pt-2 pb-2">
            <small><span class="badge badge-dark text-light font-weight-bold text-uppercase p-1">If App TitleBar Matches:</span></small>
            <ul class="list-group">
                {{ range .AppTitleBarMatchRules }}
                    <li class="list-group-item p-1 pl-2 pr-2">
                        {{ template "match_rule_template.html" . }}
                    </li>
                {{ end }}
            </ul>
        </div>

        <div class="container pt-2 pb-2">
            <small><span class="badge badge-dark text-light font-weight-bold text-uppercase p-1">If App Name Matches:</span></small>
            <ul class="list-group">
                {{ range .AppNameMatchRules }}
                    <li class="list-group-item p-1 pl-2 pr-2">
                        {{ template "match_rule_template.html" . }}
                    </li>
                {{ end }}
            </ul>
        </div>



    </div>
</div>
