<div class="container">

    {{ if .HasError }}

    <div class="jumbotron bg-light text-center text-danger font-weight-bold text-uppercase">
        {{ .ErrorString }}
    </div>

    {{ else }}

    <div class="row bg-light rounded-top pt-2 pb-2">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="w-100 m-2 text-center rounded ">
                <small class="text-dark font-weight-bold text-uppercase">Match Rules</small>
            </div>
        </div>
        <div class="col-md-3 text-right">
            <button class="btn btn-outline-success btn-sm font-weight-bold text-uppercase" data-toggle="modal" data-target="#addRuleModal">
                <small>
                    Add New Rule
                </small>
            </button>
        </div>
    </div>

    <div class="row bg-info rounded-bottom pt-2 pb-2">

        <div class="container pt-2 pb-2">
            <small><span class="badge badge-dark text-light font-weight-bold text-uppercase p-1">If App TitleBar Matches:</span></small>
            <ul class="list-group">
                {{ range .AppTitleBarMatchRules }}
                    <li class="list-group-item p-1 pl-2 pr-2">
                        {{ template "match_rule_template.html" . }}
                    </li>
                {{ end }}
            </ul>
        </div>

        <div class="container pt-2 pb-2">
            <small><span class="badge badge-dark text-light font-weight-bold text-uppercase p-1">If App Name Matches:</span></small>
            <ul class="list-group">
                {{ range .AppNameMatchRules }}
                    <li class="list-group-item p-1 pl-2 pr-2">
                        {{ template "match_rule_template.html" . }}
                    </li>
                {{ end }}
            </ul>
        </div>



    </div>
</div>



<!-- Add New Rule Modal -->
<div class="modal fade" id="addRuleModal" tabindex="-1" role="dialog" aria-labelledby="addRuleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h6 class="modal-title text-uppercase font-weight-bold" id="addRuleModalLabel">Add New Rule</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form method="POST" action="/">

            <div class="modal-body font-weight-bold small">

                <div class="d-flex justify-content-center">
                    <small class="text-uppercase">Match</small>&nbsp;
                    <select id="add_rule_match_type" name="add_rule_match_type" class="text-uppercase small">
                        <option value="app-name">App Name</option>
                        <option value="app-title-bar">App TitleBar</option>
                    </select>&nbsp;
                    <small class="text-uppercase">To</small>&nbsp;
                    <small>
                        <input type="text" name="add_rule_match_expression">
                    </small>&nbsp;
                    Case Sensitive?&nbsp;
                    <input type="checkbox" name="add_rule_match_case">
                </div>
                <div class="d-flex justify-content-center">
                    <small class="text-uppercase">And mark it as</small>&nbsp;
                </div>
                <div class="d-flex justify-content-center">
                    <select id="add_rule_match_category" name="add_rule_match_category" class="text-uppercase small">
                        <option value="productive">Productive</option>
                        <option value="operational-overhead">Operational Overhead</option>
                        <option value="unproductive">Unproductive</option>
                        <option value="unclassified">Others</option>
                    </select>&nbsp;
                </div>

            </div>

            <div class="modal-footer text-uppercase font-weight-bold">
                <button type="button" class="btn btn-outline-dark btn-sm text-uppercase small" data-dismiss="modal">Close</button>
                <input type="hidden" name="tab" value="settings">
                <button type="submit" id="add_rule" formaction="/" class="btn btn-outline-success btn-sm text-uppercase small">Add Rule</button>
            </div>

        </form>

      </div>
    </div>

    {{ end }}

  </div>