<div class="card">
    <div class="card-header" id="user-website-name">
        <h2 class="mb-0">
            <button class="btn btn-block" type="button" data-toggle="collapse" data-target="#{{ .WebsiteName }}" aria-expanded="false" aria-controls="{{ .WebsiteName }}">
                <div class="row">
                    <div class="col-md-6 text-left text-primary">
                        {{ .WebsiteName }}
                    </div>
                </div>
            </button>
        </h2>
    </div>

    <div id="{{ .WebsiteName }}" class="collapse" aria-labelledby="user-website-name" data-parent="#user-website-name">
        <div class="card-body">
            <label class="small text-muted">
            Aliases for {{ .WebsiteName }}:
            </label>
            <div class="container-fluid">
                <ul class="list-group">
                    <li class="list-group-item">
                        {{ range .UserAliases }}
                            <span>
                                <div class="btn-group pt-2 pb-2" role="group">
                                    <a href="#" class="btn btn-primary border border-secondary rounded-left small" data-toggle="modal" data-target="#viewPasswordModal_{{ $.WebsiteName }}_{{ . }}">
                                        {{ . }}&nbsp;<img src="/app-images/view_icon.png">
                                    </a>
                                    <a href="#" target="_blank" class="btn btn-warning border border-secondary rounded-right small" data-toggle="modal" data-target="#changePasswordModal_{{ $.WebsiteName }}_{{ . }}">
                                        <img src="/app-images/regenerate_icon.png">
                                    </a>
                                </div>
                            </span>



                            <!-- View Password Modal -->
                            <div class="modal fade" id="viewPasswordModal_{{ $.WebsiteName }}_{{ . }}" tabindex="-1" role="dialog" aria-labelledby="viewPasswordModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="viewPasswordModalLabel">View Password for {{ . }} @ {{ $.WebsiteName }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <form method="post">

                                            <div class="modal-body">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Master Password</span>
                                                    </div>
                                                    <input type="hidden" name="websiteName" value="{{ $.WebsiteName }}">
                                                    <input type="hidden" name="userAlias" value="{{ . }}">
                                                    <input type="password" name="masterPassword" class="form-control" placeholder="" aria-label="MasterPassword">
                                                </div>

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" id="close_button" data-dismiss="modal">Close</button>
                                                <button type="submit" id="view_password_button" formaction="/viewPassword" onclick="showLoadingSpinner('view_password_button')" class="btn btn-primary">View Password</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!-- Change Password Modal -->
                            <div class="modal fade" id="changePasswordModal_{{ $.WebsiteName }}_{{ . }}" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="changePasswordModalLabel">Generate New Password for {{ . }} @ {{ $.WebsiteName }} ?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <form method="post">

                                            <div class="modal-body">
                                                <div class="input-group mb-3">
                                                    <h6 class="text-secondary">This action cannot be undone.</h6>
                                                    <br/>
                                                    <input type="hidden" name="websiteName" value="{{ $.WebsiteName }}">
                                                    <input type="hidden" name="userAlias" value="{{ . }}">
                                                </div>

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" id="close_button" data-dismiss="modal">Close</button>
                                                <button type="submit" id="change_password_button" formaction="/generateNewPassword" onclick="showLoadingSpinner('change_password_button')" class="btn btn-primary">Generate New Password</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>

                            &nbsp;
                        {{ end }}
                        <span>
                            <div class="btn-group pt-2 pb-2" role="group">
                                <a href="#" target="_blank" class="btn btn-success border border-dark small">
                                    Add New&nbsp;<img src="/images/plus.png">
                                </a>
                            </div>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>




