<li class="list-group-item">

    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group w-75" role="group">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewSecretModal_{{ .SecretNameEscaped }}" title="View Secret">
                {{ .SecretName }}
                &nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/app-images/view_icon.png">
            </button>
        </div>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteSecretModal_{{ .SecretNameEscaped }}" title="Delete Secret">
                <img src="/app-images/delete_icon.png">
            </button>
        </div>
    </div>



</li>


<!-- View Secret Modal -->
<div class="modal fade" id="viewSecretModal_{{ .SecretNameEscaped }}" tabindex="-1" role="dialog" aria-labelledby="viewSecretModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewSecretModalLabel">View Secret for {{ .SecretName }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form method="post">

                <div class="modal-body">
                    <input type="hidden" name="secretname" value="{{ .SecretName }}">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Master Password</span>
                        </div>
                        <input type="password" name="masterPassword" class="form-control" placeholder="" aria-label="MasterPassword">
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="close_button" data-dismiss="modal">Close</button>
                    <button type="submit" id="view_secret_button" formaction="/viewSecret" onclick="showLoadingSpinner('view_secret_button')" class="btn btn-primary">View Secret</button>
                </div>

            </form>
        </div>
    </div>
</div>



<!-- Delete Secret Modal -->
<div class="modal fade" id="deleteSecretModal_{{ .SecretNameEscaped }}" tabindex="-1" role="dialog" aria-labelledby="deleteSecretModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteSecretModalLabel">Delete Secret: {{ .SecretName }}?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form method="post">

                <div class="modal-body">
                    <input type="hidden" name="secretname" value="{{ .SecretName }}">
                    <h6 class="text-danger">Note: This operation cannot be undone.</h6>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="close_button" data-dismiss="modal">Close</button>
                    <button type="submit" id="delete_secret_button" formaction="/deleteSecret" onclick="showLoadingSpinner('delete_secret_button')" class="btn btn-danger">Delete Secret</button>
                </div>

            </form>
        </div>
    </div>
</div>

