<br/>
<br/>

<div class="container">
    <br/>

    <div class="row">
        <div class="container-fluid">
            <button type="button" class="btn btn-block action-button border border-info rounded float-left" data-toggle="modal" data-target="#addNewSecretModal" data-whatever="@mdo">
                <h5 class="text-muted"><img src="/images/plus.png" style="margin-bottom: 4px">&nbsp;&nbsp;Add New Secret</h5>
            </button>
        </div>
    </div>

    <br/>

    <div>

            <div class="container-fluid bg-secondary rounded-top pt-2 pb-2">
                <h5 class="text-light">&nbsp;My Secrets</h5>
            </div>
        <ul class="list-group">
            {{ range .UserSecretCards }}
                {{ template "user_secret_template.html" . }}
            {{ end }}
        </ul>

    </div>

    <br/>


</div>


<!-- Add New Secret Modal -->
 <div class="modal fade" id="addNewSecretModal" tabindex="-1" role="dialog" aria-labelledby="addNewSecretModalTitle" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header bg-dark text-light">
                 <h5 class="modal-title" id="addNewSecretModalTitle">Add New Secret</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true" class="text-light">&times;</span>
                 </button>
             </div>

             <form method="post">
                 <div class="modal-body">
                     <div class="form-group">

                         <div class="input-group mb-3">
                             <div class="input-group-prepend">
                                 <span class="input-group-text" id="basic-addon1">Secret Name</span>
                             </div>
                             <input type="text" id="secretname" name="secretname" class="form-control" placeholder="" aria-label="Secret Name" aria-describedby="basic-addon1">
                         </div>

                         <div class="input-group mb-3">
                             <div class="input-group-prepend">
                                 <span class="input-group-text" id="basic-addon1">Master Password</span>
                             </div>
                             <input type="password" name="masterpassword" class="form-control" placeholder="" aria-label="MasterPassword">
                         </div>

                         <div class="input-group">
                             <div class="input-group-prepend">
                                 <span class="input-group-text">Secret</span>
                             </div>
                             <textarea class="form-control" id="secretvalue" name="secretvalue" aria-label="Secret Body" placeholder="..."></textarea>
                         </div>

                     </div>
                 </div>
                 <div class="modal-footer">
                     <button type="button" id="close_button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                     <button type="submit" id="add_new_secret_button" formaction="/addNewSecret" onclick="showLoadingSpinner('add_new_secret_button')" class="btn btn-primary">Add</button>
                 </div>
             </form>
         </div>
     </div>
 </div>

