{{ template "home_header_template.html" . }}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">

        <div class="col-md-3 col-sm-1"></div>

        <div class="col-md-6 col-sm-10 inset p-4 border border-secondary rounded">

            <div class="container-fluid">
                <h6 class="text-dark text-muted text-center">Password for {{ .UserAlias }} @ {{ .WebsiteName }}:</h6>
                <div class="container-fluid bg-dark text-center border border-rounded border-info">
                    <br/>
                    <h5 id="password" class="text-light font-weight-bold text-center">{{ .Password }}</h5>
                    <div class="row">
                        <div class="container-fluid">
                            <button id="copyButton" class="btn btn-link text-info float-right" onclick="copyPasswordToClipboard()">copy</button>
                        </div>
                    </div>
                </div>
            </div>

            <hr/>
            <div class="row h-100 justify-content-center align-items-center pl-3 pr-3">
                <a href="/">
                    <button type="button" class="action-button btn btn-lg border-light">❮ ❮ &nbsp;Home</button>
                </a>
            </div>
        </div>

        <div class="col-md-3 col-sm-1"></div>

    </div>
</div>

<script>

    function copyPasswordToClipboard() {

        var temp = document.createElement("textarea");
        temp.setAttribute('readonly', '');
        temp.style.position = 'absolute';
        temp.style.left = '-9999px';
        temp.style.top = '-9999px';
        temp.value= "{{ .Password }}";
        document.body.appendChild(temp);
        temp.select();
        document.execCommand("copy");
        document.body.removeChild(temp);

        var copyButton = document.getElementById("copyButton");
        copyButton.innerHTML = "copied!";

    }

</script>

{{ template "home_footer_template.html" . }}
